.container{
    text-align: center;
    margin: auto;
    width: 70%;
}
h1{
    color: aqua;
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
}
body{
    background-color: #393E46;
}
.dice{
    text-align: center;
    display: inline-block;
    margin: 30px;
}
p{
    font-size: 2rem;
    color: red;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    margin: 50px;
}
footer{
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 5px 0 #232931;

}